@model BankPortalMVC.Models.CustomerCreationStatus
@{
    ViewData["Title"] = "CreationStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        #hd {
            padding-left: 50px;
        }

        body {
            text-align: center
        }

        table {
            
            text-align: left;
            

        }
        td{
            padding:5px;
        }
        .body {
            text-align: center;
        }

        #tb {
            text-align: center;
        }

        #hd {
            text-align: right;
        }

        #unl {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        #list {
            float: left;
        }
        #list1 {
            float: left;
        }
        #list2 {
            float:left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            float:left;
        }

        #ab {
            display: block;
            color: white;
            text-align: center;
            padding: 18px 16px;
            text-decoration: none;
        }

        

        .active {
            background-color: #4CAF50;
        }

        #abcd {
            float: left;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <ul id="unl">
            <li id="list"><span id="ab" class="active">Customer Creation Status</span></li>
            <li id="list2"><span id="abcd" onclick="window.print()">Print<i class='fas fa-print' style='font-size:30px;padding-top:12px;color:#b3f7ae'></i></span></li>
            <li id="list3"><a asp-action="Index">Home<i class='fas fa-home' style='font-size:30px;color:#b3f7ae'></i></a></li>
        </ul>
    </header>
    <!--<h1>Customer Creation Status</h1>-->
    <table >
        <tr>
            <th>
                Particulars
            </th>
            <th>
                Details
            </th>
        </tr>
        <tr>
            <td>
                Customer ID
            </td>
            <td>
                @Model.CustomerId
            </td>
        </tr>
        <tr>
            <td>
                Customer Current Account ID
            </td>
            <td>
                @Model.CurrentAccountId
            </td>
        </tr>
        <tr>
            <td>
                Customer Savings Account ID
            </td>
            <td>
                @Model.SavingsAccountId
            </td>
        </tr>
        <tr>
            <td>
                Customer Account Creation Status
            </td>
            <td>
                @Model.Message
            </td>
        </tr>
    </table>
</body>