
@{ ViewData["Title"] = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <style>
        #hd {
            padding-left: 60px;
        }

        #tb {
            border-radius: 20px;
            text-align: center;
            margin-left: 10%;
        }

        body {
            text-align: center;
        }
        li a:hover:not(.active) {
            background-color: #111;
        }
        h1 {
            text-align: left;
        }
        table{
            align-content:center;
        }
        #td{
            text-align:left;
            padding:10px;
        }
        #log {
            padding-top:14px;
            float: right;
        }
        #list {
            float: left;
        }
        #ab {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        li a:hover:not(.active) {
            background-color: #111;
        }

        .active {
            background-color: #4CAF50;
        }
        #lo {
            float: right;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        #unl {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        #clock {
            color: white;
            float: right;
            font-size: 17px;
        }
    </style>
</head>
<header>
    <ul id="unl">
        <!--<li>Employee ID:@TokenInfo.UserID<a asp-controller="User" asp-action="Logout"><span id="hd"><i class='fas fa-power-off' style='font-size:20px;color:#4CAF50'></i></span></a>-->

        <li id="list"><span id="ab" class="active">Employee ID:@TokenInfo.UserID</span></li>
        <li><span id="lo">Time: <span id="clock">8:10:45</span></span></li>
        <li id="log">
            <a asp-controller="User" asp-action="Logout">
                Logout
                <i class='fas fa-power-off' style='font-size:15px;color:white'></i>
            </a>
        </li>

    </ul>
</header>
<br />
<h4>Click any one of the link to perform the task</h4>
<table id="tb" border="0">
    <tr>
        <th>
            Task
        </th>
        <td>
            Link
        </td>
    </tr>
    <tr>
        <td id="td">
            Create a New Customer Account
        </td>
        <td id="td">
            <a asp-action="CreateCustomer">Create a new Customer Account</a><br />
        </td>
    </tr>
    <tr>
        <td id="td">
            Get a customer account details
        </td>
        <td id="td">
            <a asp-action="GetCustomerAccountDetails">Get a particular Customer Account Details</a><br />
        </td>
    </tr>

</table>
<script>
    setInterval(showTime, 1000);
    function showTime() {
        let time = new Date();
        let hour = time.getHours();
        let min = time.getMinutes();
        let sec = time.getSeconds();
        am_pm = "AM";

        if (hour > 12) {
            hour -= 12;
            am_pm = "PM";
        }
        if (hour == 0) {
            hr = 12;
            am_pm = "AM";
        }

        hour = hour < 10 ? "0" + hour : hour;
        min = min < 10 ? "0" + min : min;
        sec = sec < 10 ? "0" + sec : sec;

        let currentTime = hour + ":"
            + min + ":" + sec + am_pm;

        document.getElementById("clock")
            .innerHTML = currentTime;
    }

    showTime();
</script>